<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Tanner the Mardis</title>
        <link
            rel="icon"
            type="image/svg+xml"
            href="https://tannermardis.me/images/favicon.svg"
        />
        <link
            rel="icon"
            type="image/png"
            href="https://tannermardis.me/images/favicon.png"
        />
        <meta
            name="description"
            content="The website of Tanner Mardis, Star Wars nerd, Lego Lover, and self proclaimed pixel pushing Designer"
        />
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "Tanner Mardis",
                "url": "https://tannermardis.me",
                "creator": {
                    "@type": "Organization",
                    "name": "Mardis Studio",
                    "url": "https://mardis.studio",
                    "description": "Designed and developed by Mardis Studio."
                }
            }
        </script>
        <style>
            {% include "main.css" %}
        </style>
    </head>
    <body>
        <header>
            <a href="/index.html">
                <img
                    class="logo"
                    src="/images/logo-filled-green.svg"
                    alt="Tanner Mardis Logo"
                />
            </a>
            <h1>{{ title | default: "Tanner Mardis" }}</h1>
        </header>
        <main>{{ content }}</main>
    </body>
</html>
